<div class="grid-sizer"></div>
<div class="grid-item">
  <a href="{% if project.redirect %}{{ project.redirect }}{% else %}{{ project.url | relative_url }}{% endif %}">
    <div class="card hoverable">
      {% if project.img %}
        {%
          include figure.liquid
          loading="eager"
          path=project.img
          sizes = "250px"
          alt="project thumbnail"
        %}
      {% endif %}
      <div class="card-body" style="height: 500 px;">
      <h4 class="card-title">{{ project.title }}</h4> 
        <p class="card-text">{{ project.description | truncatewords: 30, '...' }}</p>
      </div>
    </div>
  </a>
</div>
